nav{
    position: fixed;
    width: 100%;
    z-index: 1001;
    @media (max-width:1024px) {
        background-color: white;

        
    }
}

//Mobile-Menu

.showMenu{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 50%;
    background-color: white;
    
    z-index: 100;
    a{
        margin-bottom: 1.5rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.345);
        width: 100%;
        li{
            width: max-content;
            padding: 5px;
            text-transform: capitalize;
            color: rgb(90, 89, 89);
            transition: .4s all ease-in-out;

           
        }
    }
   
    @media (min-width: 1024px) {
        display: none;
    }
}

.hideMenu{
    display: none;
    position: absolute;
   

    @media (min-width: 1024px) {
        display: none;
    }
}
