.active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 50px;
}

.style {
  border: 2px dotted #fd9503;
  padding: 1.25rem;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  margin-left: 2.5rem;
  margin-bottom: 1.25rem;
}

.none {
  display: none;
}

.show {
  display: flex;
}